* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: black;  
  color: white;
}
.name {
  color: red !important;
  background-color: grey;
  border: 5px solid red;
  margin: 20px;
  padding: 20px;
}
