* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: snow;
}
button {
  margin: 10px;
  padding: 1.2rem;
  background-color: grey;
  color: snow;
  border: 2px solid red;
  border-radius: 1.5rem;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #1111;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: crimson;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: navajowhite;
}
