* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: snow;
  padding: 3rem;
}
button {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
  background-color: grey;
  border-radius: 1rem;
}