* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.nav2 {
  display: flex;
  gap: 30px;
}
.Light {
  background-color: lightseagreen;
  align-items: center;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.Dark {
  background-color: darkslategray;
  align-items: center;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}