* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: snow;
}
button {
  background-color: red;
  border: 3px solid snow;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  margin: 2rem;
  font-size: 3rem;
}
h1 {
  background-color: crimson;
  color: snow;
  width: fit-content;
  margin: 2rem 6rem;
  padding: 4rem;
  font-size: 5rem;
}
.container {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}