* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: snow;
}
body {
  background-color: black;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}
.Nav {
  background-color: rgb(169, 117, 117);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  
}
.Nav div {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 40px;
}
