* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  color: snow;
}
.parent {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  background-color: #fff;
  color: black;
  height: 21rem;
  width: 16rem;
  border-radius: 2rem;
  margin: 15px;
  padding: 1.2rem;
}
.card-top {
  width: 100%;
  height: 4rem;
  display: flex;
  margin-bottom: 0.4rem;
}
.logo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: row;
  justify-content: first baseline;
  padding: 1rem 0 1.5rem 0;
}

.logo img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 4px gray;
}
.save {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem 1.5rem 0 0;
}
.save button {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: white;
}
.save button svg {
  color: gray;
  height: 0.8rem;
  width: 0.8rem;
  fill: black;
}
.card-body {
  width: 100%;
  height: 60%;
}
.card-body span {
  font-size: 10px;
  font-weight: lighter;
}
.card-body button {
  font-size: 0.7rem;
  background-color: silver;
  padding: 0.2rem;
  border: none;
  border-radius: 3px;
}
.card-bottom {
  width: 100%;
  height: 25%;
  border-top: 1px solid gray;
  display: flex;
}
.card-bottom-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-bottom-left p {
  font-size: 0.6rem;
  color: gray;
}
.card-bottom-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-bottom-right button {
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
}
